<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<!--<li><a href="/about">About</a></li>-->
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container" style="font-family: arial, sans-serif;">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:alberto.e.nieto@gmail.com">email</a></li>
	        		<li><a href="https://github.com/qberto">github.com/qberto</a></li>
	        		<li>
	        			<a href="https://qberto.github.io/blog/atom.xml">
	        			<img border="0" alt="rss" src="{{base}}/img/rsslogo.png" width="15" height="15"></li>
				</ul>
			</footer>
		</body>
	</html>
